{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" type="image/jpg" href="./images/a.jpg"> 
<title>Payroll management system</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/font-awesome/css/font-awesome.min.css' %}">
<style type="text/css" media="print">
.footerr,.nav, .btn{
    display: none;
}
*{
    top: 0px;
    font-size: 12px;
}
</style>
<link rel="stylesheet" type="text/css" href=" {% static 'css/custom-styles.css' %}">
<script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.searchMsg').submit(function(e){
            e.preventDefault();
            searchMsg("");
        });
    $('#searchMsg').keyup(function(){
          searchMsg("");
    }); 
});   
</script>
</head> 
<body>
<div class="container">
    <header>
        <div class="row outer visible-md visible-lg title"><h1 style="font-weight:bold;"> PAYROLL MANAGEMENT SYSTEM </h1></div>
    </header>
    <div class="row">
        <nav class="navbar navbar-default">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Payroll system</span>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav navbar-right menus">
                        <li ><a href="{%  url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                        <li ><a href="{%  url 'payment' %}"><i class="fa fa-money"></i> Payments</a></li>
                        <li ><a href="{%  url 'addemployee' %}"><i class="fa fa-user-plus"></i> Add employee</a></li>
                        <li ><a href="{%  url 'employees' %}"><i class="fa fa-users"></i> Employees</a></li>
                        <li ><a href="{%  url 'message' %}"><i class="fa fa-envelope-o"></i> Messages</a></li>
                        <li ><a href="{%  url 'setting' %}"><span></span><i class="fa fa-sliders"></i> System setup</a></li>
                        <li>
                            <a href="#" data-toggle="dropdown" data-target="dropdown-menu" data-placement="right"><i class="fa fa-user-secret"></i> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                               <li><a href="./admin.php?action=about"><i class="fa fa-user"></i> &nbsp;About you</a></li>
                               <li><a href="./setup.php?action=changePassword"><i class="fa fa-key"></i> &nbsp;Change password</a></li>
                                <li class="divider"></li>
                                <li><a class="tip" title="Logout" href="{%  url 'logout' %}"><i class="fa fa-sign-out"></i> &nbsp;Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
       
</div> 
<div class="row body outer">
    <div class="col-md-2">
        <div class="row aside-menu">
            <ul class="nav nav-pills nav-stacked">
        
            <li><a href="{%  url 'adddepartment' %}"><i class="fa fa-plus-square-o"></i>  Add new department</a></li>
            <li><a href="{%  url 'departments' %}" ><i class="fa fa-building-o"></i> Departments</a></li>
            <li><a href="{%  url 'addbranch' %}"><i class="fa fa-plus-square-o"></i> Add new branch</a></li>
            <li><a href="{%  url 'branches' %}"><i class="fa fa-bank"></i> Branches</a></li>
            <li ><a href="{%  url 'changepassword' %}"><i class="fa fa-key"></i> Change Password</a></li>
        </ul>
        </div>
        </div>
    <div class="col-md-10">
        
        <div class="row">
            <div class="col-md-12">
               
            <div class="col-md-12">
                <div class="col-md-12"><h4 class="center">Departments<hr></h4></div>
            </div>
            <div class="col-md-12 employees">
                
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr><th>#</th><th>Department</th><th>Last updated</th><th>Last updated by</th><th>Operations</th></tr>
                </thead>
                <tbody>
                 {% for x in data %}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.depart_name}}</td>
                        <td>{{x.last_updated}}</td>
                        <td>{{x.last_updated_by}}</td>
                        <td><a href="{% url 'adddepartment' %}">Edit</a></td>
                   
                    </tr>
                    {% endfor %}
                  
            </tbody>
            </table>
        </div>
           
            </div>
        </div>
    </div>
    </div>
</div>
    <div class="row text-center footerr">
        <ul class="col-md-12 list-unstyled list-inline text-right">
    <li ><a style="color:white;" href="">Contact us</a>&nbsp;&nbsp;|</li>
    <li  ><a style="color:white;" href="#">About this software</a>&nbsp;&nbsp;|</li>
            
            
            <li><a style="color:white;" href="{% url 'logout' %}">Logout</a></li>
            </ul>
    Uwiringiyimana jeannine
    </div>
    <!--end of includes-->
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.tip').tooltip();
    var title=$('.active:last').data('title');
    if (title!=null) {
    document.title=title;
    };
    });
    </script>
    </body>
    </html>